<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.mcgi0145" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>McKenzieMcGilchrist</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <platform name="android">
  <icon src="www/icons/ic_launcher-mdpi.png" density="mdpi" />
  <icon src="www/icons/ic_launcher-hdpi.png" density="hdpi" />
  <icon src="www/icons/ic_launcher-xhdpi.png" density="xhdpi" />
  <icon src="www/icons/ic_launcher-xxhdpi.png" density="xxhdpi" />
</platform> 
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
